In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import plotly.graph_objs as go
import copy

In [2]:
data = pd.read_csv("2_hebrew_2020-10-12_07_34_ido_setup_102020_w2_timefixed_m_calr.csv")

In [3]:
data.head()

,Date_Time_1,envirolightlux_2,envirotemp_2,envirorh_2,envirooccupancy_2,envirosound_2,vo2_1,vo2_2,vo2_3,vo2_4,...,wheelmeters_7,wheelmeters_8,wheelmeters_9,wheelmeters_10,wheelmeters_11,wheelmeters_12,wheelmeters_13,wheelmeters_14,wheelmeters_15,wheelmeters_16
0,10/12/2020 12:37:00,0,0,0,0,0,1.206641,1.253478,1.224679,1.360976,...,0.0,0.0,2.084124,1.241324,1.08360,1.217244,1.795164,1.548344,1.083600,1.709680
1,10/12/2020 12:42:00,0,0,0,0,0,1.145448,1.269299,1.333038,1.372657,...,0.0,0.0,10.285770,2.723448,1.08360,3.034080,1.806000,1.806000,1.365336,3.271268
2,10/12/2020 12:47:00,0,0,0,0,0,1.261846,1.396249,1.348701,1.323582,...,0.0,0.0,22.930180,5.418000,1.13778,20.085130,1.806000,1.961316,1.806000,6.501600
3,10/12/2020 12:52:00,0,0,0,0,0,1.205644,1.337563,1.430000,1.333562,...,0.0,0.0,40.077550,5.418000,2.16720,26.762510,3.946712,2.422448,1.806000,6.501600
4,10/12/2020 12:57:00,0,0,0,0,0,1.252799,1.422542,1.488490,1.272891,...,0.0,0.0,62.654960,5.418000,2.16720,33.025720,8.991472,2.528400,1.806000,7.072296

In [5]:
# פונקציה ליצירת קבוצה חדשה - כרגע אפשר לבחור קבוצות באופן רציף אבל אפשר גם ליצור קוד שיבחר כל כלוב לשיוף הנרצה 
def makeGroup(df, column,  start, end):
    return [f"{column}_{i}"  for i in range(start, end+1)]

type_data = "foodupa"

# יצירת קבוצה חדשה ממספר למספר 1-6 
group1 = data[makeGroup(data, 'vo2', 1, 4)]
group2 = data[makeGroup(data, 'vo2', 5, 10)]
group3 = data[makeGroup(data, 'vo2', 11, 16)]
group4 = data[makeGroup(data, 'vo2', 10, 12)]
# ציר הX זמן
time = data['Date_Time_1']
# השם של הטבלה והאופן שבו אנחנו רוצים להגדיר אותה
Details = {
    "title table": 'Continuous, variable value error bars',
    "yaxis_title": 'pedestrian locomotion (m)',
    "n_goups": 4
}

group2

        vo2_5     vo2_6     vo2_7     vo2_8     vo2_9    vo2_10
0    1.344404  1.438069  1.218027  1.306724  1.462068  1.457980
1    1.330821  1.447300  1.184715  1.383810  1.445029  1.511478
2    1.229933  1.413407  1.055170  1.410815  1.441385  1.225551
3    1.258780  1.478254  1.137333  1.690640  1.390470  1.320150
4    1.298124  1.381829  1.204501  1.432638  1.414070  1.434171
..        ...       ...       ...       ...       ...       ...
646  1.372440  1.383425  1.188791  1.209154  1.227766  1.397308
647  1.367685  1.280498  1.330547  1.237511  1.336950  1.386369
648  1.409855  1.332092  1.324773  1.199277  1.377689  1.351602
649  1.434129  1.151971  1.382664  1.302276  1.424640  1.461622
650  1.453394  1.005311  1.377495  1.257570  1.521456  1.655936

[651 rows x 6 columns]